{#
/**
 * Image + Text Section Component
 *
 * Variables:
 * - image_url: URL of the image
 * - title: Section title
 * - text: Paragraph text
 * - button_text: Text on the button
 * - button_url: URL the button links to
 */
#}

<section class="image-text-section">
  <div class="image-text-section__image">
    <img src="{{ image_url }}" alt="{{ title }}">
  </div>
  <div class="image-text-section__content">
    {% if title %}
      <h2 class="image-text-section__title">{{ title }}</h2>
    {% endif %}
    {% if text %}
      <p class="image-text-section__text">{{ text }}</p>
    {% endif %}
    {% if button_text and button_url %}
      <a href="{{ button_url }}" class="image-text-section__button">{{ button_text }}</a>
    {% endif %}
  </div>
</section>
