{#
/**
 * Navigation-bar Component
 *
 * Variables:
 * - items: array of menu items (each item can have 'url' and 'title')
 */
#}
{% if items %}
  <nav class="navigation-bar">
    <div>
      <a href="/">
        <img class="navigation-bar__logo" src="https://edga380.github.io/hobbypage/images/website/topleftlogo.png" alt="Space Kitty Games Logo">
      </a>
    </div>
    <ul class="navigation-bar__list">
      {% for item in items %}
        <li class="navigation-bar__item">
          {% if not item.sub_menu %}
            <a href="{{ item.url }}" class="navigation-bar__link">{{ item.title }}</a>
          {% else %}
            <button class="navigation-bar__button has-sub-menu" aria-label="Opens dropdown menu with a list of games.">{{ item.title }}</button>
            <ul class="navigation-bar__item__sub-menu" aria-expanded="false" inert>
              {% for sub_menu_item in item.sub_menu %}
                <li class="navigation-bar__item__sub-menu-li">
                  <a href="{{ sub_menu_item.url }}">{{ sub_menu_item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}